.container2 {
  background-color: rgb(30, 30, 30);
  width: auto;
  color: whitesmoke;
  margin-bottom: 90px;
}
.container-heading {
  text-align: center;
}

.container-body {
  width: auto;
}
.container-body section {
  font-size: 15px;
  color: white;
  margin-bottom: 35px;
}
.wrap-reverse {
  padding-left: 55%;
}
.trophy-logo {
  filter: invert(87%) sepia(32%) saturate(1052%) hue-rotate(5deg)
    brightness(111%) contrast(106%);
}
.social-icon-1 {
  filter: invert(28%) sepia(90%) saturate(7473%) hue-rotate(356deg)
    brightness(105%) contrast(117%);
}
.social-icon-2 {
  filter: invert(12%) sepia(99%) saturate(7344%) hue-rotate(232deg)
    brightness(91%) contrast(101%);
}
.social-icon-3 {
  filter: invert(53%) sepia(80%) saturate(3790%) hue-rotate(88deg)
    brightness(107%) contrast(113%);
}
section {
  margin: 50px 0px;
}
@media (max-width: 480px) {
  .container-heading {
    font-size: 27.5px;
  }
  .container2 {
    margin-left: 20px;
  }
}
